<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Видео-Художник</title>
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="css/main.css">

</head>
<body>
  //= "../blocks/header/header.html"
  <main>
    //= "../blocks/promo/promo.html"
    //= "../blocks/parts/parts.html"
    //= "../blocks/advantages/advantages.html"
    //= "../blocks/learn/learn.html"
    <section class="get-course">
      <div class="get-course__inner">
        <div class="get-course__content">
          <h2 class="get-course__title title title--small">Стань профессионалом!</h2>
          <p class="title get-course__txt">Получи первые заказы уже во время <span class="get-course__transparent title__transparent">онлайн-курса</span></p>
        </div>
        <div class="get-course__right">
          <a href="#tarif" class="get-course__button button button--shadow button--dark"><span class="button__text button__text--arrow">Получить курс </span></a>
        </div>
      </div>
    </section>
    //= "../blocks/program/program.html"
    //= "../blocks/add/add.html"
    <section class="get-course">
      <div class="get-course__inner">
        <div class="get-course__content">
          <h2 class="get-course__title title title--small">Начинай снимать <span class="get-course__transparent title__transparent">КРУТО</span> уже сегодня!</h2>
          <p class="title get-course__txt">Самые ценные знания на расстоянии одного клика!</p>
        </div>
        <div class="get-course__right">
          <a href="#tarif" class="get-course__button button button--shadow button--dark"><span class="button__text button__text--arrow">Получить курс </span></a>
        </div>
      </div>
    </section>
    //= "../blocks/how/how.html"
    //= "../blocks/gallery/gallery.html"
    //= "../blocks/whom/whom.html"
    //= "../blocks/author/author.html"
    //= "../blocks/write/write.html"
    //= "../blocks/instagram/instagram.html"
    //= "../blocks/format/format.html"
    //= "../blocks/reviews/reviews.html"
    //= "../blocks/faq/faq.html"
    <section class="get-course">
      <div class="get-course__inner">
        <div class="get-course__content">
          <h2 class="get-course__title title title--small">Начни обучение даже если у тебя еще нет камеры!</h2>
          <p class="title get-course__txt">На курсе сможешь разобраться в камерах  и выбрать оптимальную по бюджету</p>
        </div>
        <div class="get-course__right">
          <a href="#tarif" class="get-course__button button button--shadow button--dark"><span class="button__text button__text--arrow">Получить курс </span></a>
        </div>
      </div>
    </section>
  </main>
  //= "../blocks/footer/footer.html"
  <script src="js/libs.js"></script>
  <script src="js/general.js"></script>
</body>
</html>
